﻿@{
    ViewBag.Title = "Index";
}

<div id="welcome-wrap" class="centerDivTable">
    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Welcome</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            Welcome to the University of Stellenbosch Business School's Application Form.
                        </p>
                        <p>
                            You were redirected to this page to start a new application, or load your existing application.
                        </p>
                        <p>
                            Please familiarise yourself with the content below and confirm understanding before continuing with your application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Completing the online application</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            All applicants are required to complete the USB Online Application Form for the programme they wish to enrol for. The information contained in your application form will be used by the University to decide whether or not to invite you to the selection stage. Incomplete applications will delay consideration. Please plan your application process to meet the application deadline (see <a href="http://www.usb.ac.za">www.usb.ac.za</a>).
                        </p>
                        <p>
                            <label>Admission requirements for Postgraduate Diploma in Leadership Development:</label><br />
                            A relevant Bachelor's Degree or demonstrated Assessment and Recognition of Prior Learning. Proven relevant experience of three to five years in a managerial role is essential.
                        </p>
                        <p>
                            The information you provide on your application form will be treated as confidential and will not be disclosed without your permission. You must ensure that the information you have given is correct. If the information is incorrect, Stellenbosch University reserves the right to reject your application.
                        </p>
                        <p>

                            <label>USB’s PGDip Leadership Development offers a generalist and a specialisation areas:</label><br />
                        <p>• PGDip LD with generalist modules, aimed at those who want to lead in any industry sector</p>
                        <p>
                            • PGDip LD with focus-specific modules in NPO leadership (PGDip LD NPO), aimed at those who want to
                            lead in the not-for-profit sector.
                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Supporting documents</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            In addition to completing the application form, you are required to upload supporting documents. Please ensure that you have the following documents ready before starting your application:
                            <ul>
                                <li>Signed Declaration Form</li>
                                <li>Certified copies of academic records</li>
                                <li>Certified copies of degree certificates</li>
                                <li>Copy of ID/Passport</li>
                                <li>Copy of CV</li>
                                <li>Matric certificate</li>
                                <li>Marriage certificate (required if surname differs from that on academic transcripts or certificates)</li>
                                <li>Application fee</li>
                            </ul>
                        </p>
                        <p>
                            <label><b>Please note:</b></label><br/>
                            Give the required documents meaningful names relating to its content.
                        </p>
                        <p>
                            Only submit your electronic application once <b>ALL</b> the documents have been uploaded.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Submitting your application</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            A completed application implies that all the fields on every page are filled in (each section indicating a <a href="" class="glyphicon glyphicon-ok"></a> tick) and that all required documents have been uploaded before it can be submitted.
                        </p>
                        <p>
                        <p style="color: red;">
                            <b>I hereby declare that I have read and that I understand the application requirements above.</b><input type="checkbox" style="margin-left: 5px;" data-bind="checked: $root.requirementsUnderstood" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper row" data-bind="visible: $root.requirementsUnderstood">
        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: $root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed</div>
            </div>
            <div class="sectionBody">
                <p>An E-mail has been send to the address that you have supplied containing the unique link which you must use to gain access to your active application.</p>
                <p></p>
                <p>For further assistance contact the USB Applications Office at +27 (0) 21 918 4239</p>
            </div>

        </div>

        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: !$root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed with application</div>
            </div>
            <div class="sectionBody ">
                <p>
                    Please fill in your e-mail address and click "Continue". If you've started an application on a previous occasion, you will be prompted, otherwise a new application will start.
                </p>
                <div id="emailAddrArea" class="row">
                    <div class="col-md-12  col-md-offset-1  col-centered">
                        <div class="col-md-3 email-label">
                            <label>Email Address:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <input data-bind="value: $root.emailAddress, enterKey: $root.Continue" type="email" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button data-bind="click: $root.Continue" id="ContinueButton" class="btn bt-lg">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ValidateStudentDetails" class="fieldSection  col-md-12" data-bind="visible: $root.IsApplicant2()">
                <div class="row">
                    <div class="sectionHeader col-md-12">Active application found </div>
                </div>
                <div>
                    <p>
                        We have determined that an active application is linked to your e-mail address.
                        <br />Please complete the fields below to continue with your active application:
                    </p>
                    <div class="col-md-4 email-label">
                        <label><b>Student number/Reference number: </b></label>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <input data-bind="value: $root.UsNumber" class="form-control" />
                        </div>
                    </div><br /><br />

                    <div class="col-md-4 email-label">
                        <label><b>Identification number:</b></label><br />
                        <label>(ID, Passport or Foreign ID number)</label>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <input data-bind="value: $root.idNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md3">
                        <input type="button" value="Proceed" data-bind="click: Proceed" />
                    </div>
                </div>
                <div id="ForgotDetails" class="sectionBody  col-md-12" style="display:none;color:red; align-content:center;">
                    <p></p>
                    <p>
                        <b>
                            The details you entered do not match our records.
                        </b>
                    </p>

                    <p><b>Please contact our USB Admissions Office <a href="mailto:admissions@usb.ac.za">admissions@usb.ac.za</a> or +27 (0) 21 918 4239) for assistance.</b></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="divError">
</div>

@section Scripts{
    <script src="~/Scripts/app/ViewModels/Index.js"></script>
}

<div style="display: none">
    <p id="pSarGuid"></p>
    <input name="ctl00$MainContent$textboxProgramme" id="textboxProgramme" size="50" type="text">
</div>





