﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "PersonalDetails";
}

@{
    string emailAddress = new JavaScriptSerializer().Serialize(ViewBag.EmailAddress);
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
    string isFirstTimeAppplicant = new JavaScriptSerializer().Serialize(ViewBag.IsFirstTimeApplicant);
    string enrolmentId = new JavaScriptSerializer().Serialize(ViewBag.EnrolmentId);

}

@section Scripts {
    <script src="~/Scripts/app/ViewModels/PersonDetailsVM.js"></script>
    <script>

        $(function () {
            var model = new PersonalDetails(@Html.Raw(emailAddress), @Html.Raw(isDisabled),
                                            @Html.Raw(isFirstTimeAppplicant), @Html.Raw(enrolmentId));
            ko.applyBindings(model);

            // If the applicant has not submitted the personal details page he should not be able to
            // navigate passed the page e.g. to address details or workstudies.
            if( model.isFirstTimeApplicant() === true ) {
                $('.tabControl').prop('disabled', true);
            } else {
                $("#tab1").addClass('active');
                $('#currentPage').text('Page 1 of 7');
            }
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="mandatoryAlert" class="alert alert-info" data-bind="visible: $root.isFirstTimeApplicant()">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#mandatoryAlert').hide()">&times;</a>
    <strong>Information!</strong> Submission of this page is mandatory before continuing with the rest of the application forms.
</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>

<div id="serverValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#serverValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label data-bind="text: $root.serverErrorMessage"></label>
</div>

<div class="row container">
    <div class="col-md-12">
        <form class="form-horizontal" id="">
            <div class="sectionHeader">
                <label>Field of Study</label></div>
            <fieldset>
                <div class="clearfix">&nbsp;</div>
                <div class="form-group">
                    <label for="txtStatus" class="col-sm-3 control-label">Programme:</label>
                    <div class="col-sm-4">
                        <input type="text" value="PGDipFutureStudies" readonly="readonly" style="margin-left:13px;"
                               class="form-control marginLeft13" id="txtProgrammeName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtStatus" class="col-sm-3 control-label">Programme Offering:</label>
                    <div class="col-sm-4">
                        <span class="required">*</span>
                        <select class="form-control" id="selectProgrammeOfferrring"
                                data-bind="options: $root.Offerings, optionsText: 'Item1',
                                           optionsValue: 'Item2', value: $root.SelectedOffering,
                                           valueAllowUnset: true,
                                           optionsCaption:'Please select...', disable: $root.isDisabled()"></select>
                        <span class="marginLeft13 field-validation-error" data-bind="visible: $root.Offerings().length == 0">No offerings currently available for this programme.</span>
                    </div>
                </div>
            </fieldset>
            <div data-bind="visible: $root.isBlendedOffering()">
                <div class="sectionHeader">
                    <label>Blended Programme Attendance</label>
                </div>
                <fieldset>
                    <div class="clearfix">&nbsp;</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">How do you intend to attend class?</label>
                        <div class="col-sm-4">
                            <span class="required">*</span>
                            <select class="form-control" data-bind="options: $root.blendedOptions, optionsText: 'Key', optionsValue: 'Value', value: $root.SelectedBlendedOption, optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="row container">
    <div class="col-md-12">
        <form class="form-horizontal" id="PersonalDetailsForm">
            <div class="sectionHeader">
                <label>Personal Information</label></div>
            <div class="clearfix">&nbsp;</div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Title:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectTitle"
                            data-bind="options: Titles, optionsText: 'Key', optionsValue: 'Value',
                                       value: $root.SelectedTitle, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Surname:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <input type="text" class="form-control" id="txtSurname"
                           data-bind="css: {error: $root.Surname.hasError},
                                      value: $root.Surname, valueUpdate: 'afterkeydown', 
                                      disable: $root.isDisabled()"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Full First Names:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <input type="text" class="form-control" id="txtFirstFullNames"
                           data-bind="value: $root.FirstNames, disable: $root.isDisabled()">
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-sm-3 control-label">Initials:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control marginLeft13" id="txtInitials"
                           data-bind="value: $root.Initials, disable: $root.isDisabled()">
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-sm-3 control-label">Given Name:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <input type="text" class="form-control" id="txtGivenName"
                           data-bind="value: $root.GivenName, valueUpdate: 'afterkeydown', disable: $root.isDisabled()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Nationality:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectNationality"
                            data-bind="options: $root.Nationalities, optionsText: 'Key',
                                       optionsValue: 'Value', value: $root.SelectedNationality,
                                       valueAllowUnset: true, optionsCaption: 'Please select...',
                                       disable: $root.isDisabled()"></select>
                </div>
            </div>
            <div class="form-group" data-bind="visible: $root.IsNonSouthAfrican()">
                <label class="col-sm-3 control-label">Identification Type:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectIdentificationType"
                            data-bind="options: $root.ForeignIndetificationTypes, optionsText: 'Key',
                                       optionsValue: 'Value', value: $root.SelectedForeignIdentificationType,
                                       valueAllowUnset: true, optionsCaption: 'Please select...',
                                       disable: $root.isDisabled()"></select>
                </div>
            </div>



            <div class="form-group" data-bind="visible: $root.IsSouthAfrican()">
                <label class="col-sm-3 control-label">Id Number:</label>
                <div class="col-sm-4" data-bind="validationOptions: { insertMessages: false }">
                    <span class="required">*</span>
                    <input type="text" maxlength="13" class="form-control" id="txtIdNumber"
                           data-bind="value: $root.IdNumber, disable: $root.isDisabled()" />
                </div>
            </div>
            
            <div class="form-group" data-bind="visible: $root.ShowPassportNumberInput()">
                <label class="col-sm-3 control-label">Country of issue:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control"
                            data-bind="options: $root.CountriesIssued, optionsText: 'Key',
                                       optionsValue: 'Value', value: $root.SelectedCountryOfIssue,
                                       valueAllowUnset: true, optionsCaption: 'Please select...',
                                       disable: $root.isDisabled()"></select>
                </div>
            </div>

            <div class="form-group" data-bind="visible: $root.ShowForgeinSection()">
                <label class="col-sm-3 control-label"
                       data-bind="text: $root.PassportForeignNumber"></label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <input type="text" class="form-control"
                           data-bind="value: $root.PassportNumber, disable: $root.isDisabled()" />
                </div>
            </div>

            <div class="form-group" data-bind="visible: $root.ShowForgeinSection()">
                <label class=" col-sm-3 control-label">
                 Expiry Date</label>
                <div class="col-sm-4" data-bind="visible: $root.ShowExpiryDateInput(),
                                                 validationOptions: { insertMessages: false }">
                    <span class="required foreign-passport-expiry">*</span>
                    <i class="glyphicon glyphicon-calendar form-control-feedback" style="right:29px;"></i>
                    <input placeholder="YYYY/MM/DD" type="text" class="form-control pull-left"
                           id="txtExpiryDate"
                           data-bind="value: $root.ExpiryDate, disable: $root.isDisabled()"
                           data-date-format="yyyy/mm/dd" />
                </div>
            </div>

            <!--
            <div class="form-group" data-bind="visible: $root.ShowForgeinSection()">
                <label class="col-md-3 col-sm-3 control-label" 
                       data-bind="text: $root.PassportForeignNumber"></label>
                <div class="col-md-4 col-sm-4">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="col-md-11 col-sm-11 col-xs1">
                                <span class="required" style="float:left">*</span>
                                <input type="text" class="form-control" style="width: 170px" 
                                       data-bind="value: $root.PassportNumber, disable: $root.isDisabled()" />
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12" style="width: 125px" 
                                 data-bind="visible: $root.ShowExpiryDateInput()">
                                <label class=" col-sm-3 control-label marginLeft15" style="width: 125px;">
                                    Expiry Date
                                </label>
                            </div>

                            <div class="col-md-11 col-sm-11 col-xs-11 pull-left has-feedback"
                                 data-bind="visible: $root.ShowExpiryDateInput(),
                                            validationOptions: { insertMessages: true }">
                                <span class="required" style="float:left">*</span>
                                <i class="glyphicon glyphicon-calendar form-control-feedback" style="right:20px;"></i>
                                <input placeholder="YYYY/MM/DD" type="text" class="form-control pull-left"
                                       style="width: 170px" id="txtExpiryDate"
                                       data-bind="value: $root.ExpiryDate, disable: $root.isDisabled()"
                                       data-date-format="yyyy/mm/dd" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="form-group" data-bind="visible: $root.IsNonSouthAfrican">
                <label class="col-sm-3 control-label">Permit Type:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectPermit"
                            data-bind="options: $root.PermitTypes, optionsText: 'Key', optionsValue:'Value',
                                       value: $root.SelectedPermitType, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>
            </div>
            <div class="form-group has-feedback" data-bind="validationOptions: { insertMessages: true }">
                <label class="col-sm-3 control-label">Date of Birth:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <i class="glyphicon glyphicon-calendar form-control-feedback" style="right:29px;"></i>
                    <input type="text" data-date-format="yyyy/mm/dd" class="paddLeft12 form-control" id="txtDateOfBirth"
                           data-bind="value: $root.DateOfBirth, disable: $root.IsSouthAfrican()" placeholder="YYYY/MM/DD">
                   
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Gender:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectGender"
                            data-bind="options: $root.Genders, optionsText: 'Key', optionsValue: 'Value',
                                       value: $root.SelectedGender, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Ethnicity:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <!-- ko if: $root.IsSouthAfrican() || $root.ShowSAEthnicitesInput() -->
                    <select class="form-control" id="selectEthnicity"
                            data-bind="options: $root.Ethnicities, optionsText: 'Key', optionsValue: 'Value',
				   value: $root.SelectedEthnicity, valueAllowUnset: true,
				   optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                    <!-- /ko -->
                    <!-- ko if: $root.IsNonSouthAfrican() -->
                    <select class="form-control" id="selectEthnicity"al
                            data-bind="options: $root.NonSAEthnicities, optionsText: 'Key', optionsValue: 'Value',
				   value: $root.SelectedEthnicity, valueAllowUnset: true,
				   optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                    <!-- /ko -->
                    
                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" title="Ethnicity" data-content="Ethnicity is required by the Department of Education"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Home Language:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectHomeLanguage"
                            data-bind="options: $root.Languages, optionsText: 'Key', optionsValue: 'Value',
                                       value: $root.SelectedLanguage, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>
            </div>
            @*<div class="form-group">
                <label class="col-sm-3 control-label">Correspondence Language:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectCorrespondenceLanguage"
                            data-bind="options: $root.CorrespondenceLanguages, optionsText: 'Key', optionsValue: 'Value', 
                                       value: $root.SelectedCorrespondanceLanguage, valueAllowUnset: true, 
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>
            </div>*@
            <div class="form-group">
                <label class="col-sm-3 control-label">Marital Status:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectMaritalStatus"
                            data-bind="options: $root.MaritalStatus, optionsText: 'Key', optionsValue: 'Value',
                                       value: $root.SelectedMaritalStatus, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">If applicable, Maiden Name:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="text" class="form-control" id="txtMaidenName"
                           data-bind="value: $root.MaidenName, disable: $root.isDisabled()" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Disabilities:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <select class="form-control" id="selectDisabilities"
                            data-bind="options: $root.Disabilities, optionsText: 'Key', optionsValue: 'Value',
                                       value: $root.SelectedDisability, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>

                    <span class="glyphicon glyphicon-info-sign" data-toggle="popover" title="Disability" data-content="It is not required to declare disabilities, however, not declaring disabilities resolves the USB from accommodating for such “non-declared” disabilities."></span>
                </div>
            </div>
            <div class="form-group" data-bind="visible: $root.hasOtherDisability()">
                <label class="col-sm-3 control-label">Other:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="text" class="form-control" id="txtOther"
                           data-bind="value: $root.OtherDisability, disable: $root.isDisabled()">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Do you use a wheelchair?</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <div id="period-group" class="btn-group">
                        <label>
                            <input type="radio" name="radioWheelChair"
                                   data-bind="checked: $root.UseWheelchair, value: true, disable: $root.isDisabled()">&nbsp;Yes
                        </label>
                        &nbsp;
                        <label>
                            <input type="radio" name="radioWheelChair"
                                   data-bind="checked: $root.UseWheelchair, value: false, disable: $root.isDisabled()">&nbsp;No
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="row container">
    <div class="col-md-12">
        <form class="form-horizontal" id="ContactDetailsForm">
            <div class="sectionHeader">
                <label>Contact Details</label></div>
            <div class="clearfix">&nbsp;</div>
            <div class="form-group">
                <label for="txtBusinessPhoneNumber" class="col-sm-3 control-label">Business phone number:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="number" class="form-control" id="txtBusinessPhoneNumber"
                           data-bind="value: $root.BusinessPhoneNumber, disable: $root.isDisabled()" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtPhoneNumber" class="col-sm-3 control-label">Home phone number:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="number" class="form-control" id="txtPhoneNumber"
                           data-bind="value: $root.HomePhoneNumber, disable: $root.isDisabled()" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtFaxNumber" class="col-sm-3 control-label">Fax number:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="number" class="form-control" id="txtFaxNumber"
                           data-bind="value: $root.FaxNumber, disable: $root.isDisabled()" />
                </div>
            </div>
            <div class="form-group">
                <label for="MobileNumberId" class="col-sm-3 control-label">Cell / Mobile:</label>
                <div class="col-sm-4">
                    <span class="required">*</span>
                    <input id="MobileNumberId" type="tel" class="form-control" style="width: 103%;" data-bind="value: $root.MobileNumber, disable: $root.isDisabled(), valueUpdate:'afterkeydown'" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmailAddress" class="col-sm-3 control-label">Email address:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="text" readonly="readonly" class="form-control" id="txtEmailAddress"
                           data-bind="value: $root.eMail, disable: $root.isDisabled()" />
                </div>
            </div>
            <div class="form-group">
                <label for="txtAlternativeEmailAddress" class="col-sm-3 control-label">Alternative Email address:</label>
                <div class="col-sm-4">
                    <span class="placeHolder"></span>
                    <input type="text" class="form-control" id="txtAlternativeEmailAddress"
                           data-bind="value: $root.AlternativeEmailAddress, disable: $root.isDisabled()" />
                </div>
            </div>
        </form>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="section-wrap">
            <button id="personalDetailsSaveAndProceed" class="btn btnSaveProceed btn-sm pull-right"
                    data-bind="click: $root.StepOneSaveAndProceed, visible: !$root.isDisabled()">
                Save and Proceed
            </button>
        </div>
    </div>
</div>

<div class="clearfix">&nbsp;</div>