﻿<div id="Upload"  class="form-wrap">

    <form>
       
        <div data-bind="foreach: Sections"  style="padding: 5px; margin: 5px; clear: left;">
            <div class="row form-section documentation-wrap">
                <label data-bind="text: Name"></label>
                @Html.Partial("Upload")
            </div>
        </div>
      

        <input id="documentationSaveAndProceed" class="btn btnSaveProceed pull-right save-btn" style="float: right; margin-top: 10px;" type="Submit" value="Save and Proceed" runat="server" />
    </form>
</div>
