﻿

<div data-bind="with:FileUpload" class="col-md-12">
    <div class="col-md-10">
        <div style="float: left; display: inline; padding: 5px;" data-bind="with:DummyFile">
            <input id="uploadfile" class="btn btnSaveProceed files-label val-fileupload-required" style="margin-top: 5px; margin-right: 10px;" type="button" value="Upload" data-bind="disable: $parent.Files().length == 5, click: $parent.FileChosen.bind($element)" />
            <input id="inputUpload" runat="server" class="selectedFile" style="display: none;" type="file" data-bind="file: {data: Data, name: FileName, size: Size },change: $parent.Upload.bind($data)" />
        </div>
        <div style="clear: left;" data-bind="foreach: Files">
            <div style="float: left; clear: left; width: 100%;" data-bind="if: FileName() != null">
                <div data-bind="isReviewed : $data.Reviewed()">
                    <div class="file-upload-block" style="width: 66%; height: 50px; display: inline; float: left; padding: 5px; margin: 5px;">
                        <div data-bind="if: $data.DocumentId() == 0">
                            <label data-bind="text: FileName"></label>
                            <input style="margin: 3px; float: right;" class="btn files-label" type="button" value="Delete" data-bind="click:$parent.RemoveFile" />
                        </div>
                        <div data-bind="if: $data.DocumentId() > 0">
                            <a data-bind="attr: {href: $root.GetDownloadLink($data)}, text: FileName"></a>
                            <input style="margin: 3px; float: right;" class="btn files-label" type="button" value="Delete" data-bind="click:$parent.RemoveFile" />
                        </div>

                    </div>
                    <div style="width: 200px; display: inline; float: left;">
                        <div style="width: 45%; float: left;">
                            <label class="">Date uploaded</label>
                            <div>
                                <span class="date" data-bind="text: $data.UploadedDate"></span>
                            </div>
                        </div>
                        <div style="width: 25%; float: left;">
                            <label class="">Status</label>
                            <div>
                                <span class="upload-status" data-bind="text: $data.Status"></span>
                            </div>
                        </div>

                        <div style="width: 30%; float: left;">
                            <label class="">Size</label>
                            <div data-bind="if: $data.Size() > 0">
                                <span class="upload-status" data-bind="text: parseFloat($data.Size()/1024.0/1024.0).toFixed(2) + ' MB'"></span>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: $data.DocumentId() != 0 && $data.CanReview() == true" style="padding-top: 10px;">
                        <input type="checkbox" data-bind="click: $parent.ReviewSelected.bind($data, $element), checked: $data.Reviewed" />&nbsp;Reviewed
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2" id="decURLdiv">
        @*<span  class="glyphicon glyphicon-info-sign pop" style="font-size: 20px; float: right;" data-bind="visible: $parent.Name == 'Signed Declaration Form'" title="Declaration Form" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Please click <u><a href='/MBA/Page/DownloadDeclarationFile' style='font-size: 14px;'>here</a></u> to download the Declaration Form."></span>*@
        @*<a href="#" id="decURLtest">Click here </a>*@



    </div>

</div>

<!-- Modal -->
<div div class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true"
     style="padding-top:70%; overflow-y:visible;" id="myModalPdf"aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="myModalLabel">Document format consent needed</h4>
            </div>
            <div class="modal-body">
                One or more of the documents you have uploaded are not in PDF format as specified.
            </div>
           

            <div class="modal-footer">
                <button id="btnModalClose" type="button" class="btn btn-primary" data-dismiss="modal">Close and re-upload documents.</button>
                <button id="btnModalContinue" type="button" class="btn btn-default">Acknowledge and continue.</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        function ClearLocalStorage() {
            localStorage.clear();
        }
      
        $("#btnModalClose").click(function (e) {
           // ClearLocalStorage();
            $('#myModalPdf').hide();
            

        });

        $("#btnModalContinue").click(function (e) {

            //Trigger continue of iframe
           // localStorage.setItem('confirm', true);
           // var confirmclick = localStorage.getItem('confirm');
            //alert('close1' + confirmclick);
            $('#myModalPdf').hide();

        });
        var ParentUrl = parent.location.href;
        var ParentUrl = ParentUrl.replace('Documentation', 'DownloadDeclarationFile');


        $("#decURLdiv").append("<span class='glyphicon glyphicon-info-sign pop' style='font-size: 20px; float: right;' data-bind='visible: $parent.Name == \"Signed Declaration Form\"' title = 'Declaration Form' data-container='body' data-toggle='popover' data-placement='bottom' data-content='Please click <u><a href=" + ParentUrl + " style=\"font-size: 14px;\">here</a></u> to download the Declaration Form.' >'</span > ");



        $(".pop").popover({ trigger: "manual", html: true, animation: false })
            .on("mouseenter",
                function () {
                    var _this = this;
                    $(this).popover("show");
                    $(".popover").on("mouseleave",
                        function () {
                            $(_this).popover('hide');
                        });
                }).on("mouseleave",
                    function () {
                        var _this = this;
                        setTimeout(function () {
                            if (!$(".popover:hover").length) {
                                $(_this).popover("hide");
                            }
                        },
                            300);
                    });

    });


</script>



