﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Documentation";
}

@{ 
    string isGmatSelectionEnabled = new JavaScriptSerializer().Serialize(ViewBag.IsGmatSelectionEnabled);
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
    string isDeleteEnabled = new JavaScriptSerializer().Serialize(ViewBag.DeleteEnabled);
    string isReviewEnabled = new JavaScriptSerializer().Serialize(ViewBag.ReviewEnabled);
    string isAdmittedApplicant = new JavaScriptSerializer().Serialize(ViewBag.IsAdmittedApplicant); 
}

@section Scripts{

    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/BlueImp/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/BlueImp/jquery.fileupload.js"></script>
    <script src="~/Scripts/app/ViewModels/DocumentationVM.js"></script>

    <script>
    $(function () {
        var model = new Documentation(@Html.Raw(isGmatSelectionEnabled), @Html.Raw(isDisabled), 
                                      @Html.Raw(isDeleteEnabled),
                                      @Html.Raw(isReviewEnabled), @Html.Raw(isAdmittedApplicant));
            ko.applyBindings(model);
        });
    </script>
}


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>


<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Documentation Instructions</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p>In the next section you will be presented with a list of documents that must be uploaded before your application can be considered complete. Please make sure that the quality of your scanned original received documents is legible and of good quality.</p>
                        <p>Every item in the list will indicate whether the upload was successful and when it was uploaded. Please make sure you upload the correct document that matches the document type required.</p>

                        <p>Please upload all documents in <b>PDF Format (i.e. *.pdf)</b></p>

                        @*<ul>
                            <li>Microsoft Office Formats (e.g. *.doc, *.docx)</li>
                            <li>PDF Format (i.e. *.pdf)</li>
                            <li>Image Formats (i.e. *.jpg, *.tiff, *.png)</li>
                        </ul>*@
                        <p class="file-size-text">* Maximum file size allowed per file = 2MB   </p>
                        <label>Please note:</label>
                        <ul>
                            <li>Please upload the correct documents at the correct places</li>
                            <li>Give the required documents meaningful names relating to it’s content.</li>
                            <li>Only submit your electronic application once ALL the documents have been uploaded</li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        @*<form class="form-horizontal">

            <div class="sectionHeader">
                <label>Declaration Form</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p>Please click <a href="/ShortenedAppFormMPhilFutureStudies/Page/DownloadDeclarationFile">here</a> to download the declaration form. This form must be signed, scanned and uploaded using the "Signed Declaration Form" section below in the Documentation Upload Area.</p>
                    </div>
                </div>
            </div>
        </form>*@
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Declaration Form</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p><b>Please click <u><a href="/ShortenedAppFormMPhilFutureStudies/Page/DownloadDeclarationFile" style="font-size: 14px;">here</a></u> to download the declaration form. This form must be signed, scanned and uploaded using the "Signed Declaration Form" section below in the Documentation Upload Area.</b></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">

        <div class="sectionHeader">
            <label>Documentation Upload Area</label>
        </div>

        @Html.Partial("FileUploadViewer")

    </div>
</div>