﻿

<div data-bind="with:FileUpload" >
    <div style="float: left; display: inline; padding: 5px;" data-bind="with:DummyFile">
        <input id="uploadfile" class="btn btnSaveProceed files-label val-fileupload-required"  style="margin-top: 5px; margin-right: 10px;" type="button" value="Upload" data-bind="click: $parent.FileChosen.bind($element)" />
        <input  class="selectedFile" style="display: none;" type="file"  data-bind="file: {data: Data, name: FileName, size: Size },change: $parent.Upload.bind($data)"/>
    </div>
    <div style="clear: left;" data-bind="foreach: Files">
        <div style="float: left; clear: left; width: 100%;" data-bind="if: FileName() != null">
            <div data-bind="isReviewed : $data.Reviewed()">
                <div class="file-upload-block" style="width: 66%; height: 50px; display: inline; float: left; padding: 5px; margin: 5px;">
                    <div data-bind="if: $data.DocumentId() == 0">
                        <label data-bind="text: FileName"></label>
                        <input style="margin: 3px; float: right;" class="btn files-label" type="button" value="Delete" data-bind="click:$parent.RemoveFile" />
                    </div>
                    <div data-bind="if: $data.DocumentId() > 0">
                        <a data-bind="attr: {href: $root.GetDownloadLink($data)}, text: FileName"></a>
                        <input style="margin: 3px; float: right;" class="btn files-label" type="button" value="Delete" data-bind="click:$parent.RemoveFile" />
                    </div>
                  
                </div>
                <div style="width: 200px; display: inline; float: left;">
                    <div style="width: 45%; float: left;">
                        <label class="">Date uploaded</label>
                        <div>
                            <span class="date" data-bind="text: $data.UploadedDate"></span>
                        </div>
                    </div>
                    <div style="width: 25%; float: left;">
                        <label class="">Status</label>
                        <div>
                            <span class="upload-status" data-bind="text: $data.Status"></span>
                        </div>
                    </div>

                    <div style="width: 30%; float: left;">
                        <label class="">Size</label>
                        <div data-bind="if: $data.Size() > 0">
                            <span class="upload-status" data-bind="text: parseFloat($data.Size()/1024.0/1024.0).toFixed(2) + ' MB'"></span>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: $data.DocumentId() != 0 && $data.CanReview() == true" style="padding-top: 10px;" >
                     <input type="checkbox" data-bind="click: $parent.ReviewSelected.bind($data, $element), checked: $data.Reviewed"/>&nbsp;Reviewed
                 </div>
            </div>
        </div>
    </div>
</div>




