﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "Work_Studies";
}

@{
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
}

@section Scripts {
    <script src="~/Scripts/app/ViewModels/WorkStudiesVM.js"></script>

    <script>
        $(function () {
            var model = new WorkAndStudies(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display: none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
    <!-- ko if: displayAlert -->
    <br />
    <ul data-bind="foreach: { data: $root.validationSummary, as: 'error'}">
        <li data-bind="text: error"></li>
    </ul>
    <!-- /ko -->
</div>
<div id="RplValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#RplValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label>Complete whether you are a RPL candidate.</label>
</div>

<div id="serverValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#serverValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label data-bind="text: $root.serverErrorMessage"></label>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Recognition of Prior Learning</label>
            </div>
            <div class="row form-section">
                <div class="col-md-12">
                    <div class="form-group marginLeft10 instructions">
                        <p><b>Assessment and Recognition of Prior Learning</b></p>
                        <p>USB provides wider access to its programmes through its Assessment and Recognition of Prior Learning (ARPL) process. In line with the requirements of the Council for Higher Education (CHE), <b>USB may admit up to 10% of its student body under ARPL.</b></p>
                        <p>In order to be admitted to a Master's programme at USB, <b>candidates should be in possession of a relevant NQF 8 qualification</b>, such as an Honours degree, 4-year in-depth Bachelor's degree or a postgraduate diploma.</p>
                        <p>Candidates who wish to be admitted under the ARPL policy will firstly have to submit all the documentation and tests as required for all prospective students.</p>
                        <p>In addition, <b>prospective students applying for a Postgraduate Diploma at USB</b> have to adhere to the following:</p>
                        <ol>
                            <li>Have at least an NQF 4 qualification.</li>
                            <li>Have at least TEN years of working experience after obtaining a school leaving certificate, of which at least FIVE years should have been in a management or related professional position.</li>
                            <li>Submit a comprehensive CV, indicating detailed areas of responsibility as well as information of activities outside the work environment.</li>
                            <li>Provide USB with at least two references (typically current or former line heads) who can testify about the candidate's managerial or related professional abilities. These references will be required to give a detailed personal reference about the candidate on forms provided by USB.</li>
                            <li>Next, USB's Admissions Committee (head of the programme and another academic) will conduct an in-depth interview with the candidate.</li>
                            <li>If the Committee is of the opinion that the candidate has the abilities to cope with the demands of the Postgraduate Diploma, he/she may be admitted.</li>
                            <li>A recommendation of admission is sent via USB's Academic Planning Committee to the Board of the Faculty of Economic and Management Sciences for notification.</li>
                        </ol>
                        @*<div class="checkbox">
                                <label><input type="checkbox" data-bind="checked: $root.IsRplCandidate">I am a RPL candidate</label>
                            </div>*@
                        <div class="form-group">
                            <label class="col-sm-3 control-label">I am a RPL candidate</label>
                        </div>
                        <div id="period-group" class="btn-group">
                            <label>
                                <input type="radio" name="rplRadioButton" data-bind="value: 1, checked: $root.IsRplCandidate">&nbsp;Yes
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>
                                <input type="radio" name="rplRadioButton" data-bind="value: 2, checked: $root.IsRplCandidate">&nbsp;No
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>
                                <input type="radio" name="rplRadioButton" data-bind="value: 3, checked: $root.IsRplCandidate">&nbsp;Unsure
                            </label>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="sectionHeader">
                <label>Academic Information</label>
            </div>
            <div class="row form-section">
                <p> Indicate your language proficiency </p>
                <div class="col-md-12 languages">
                    <div class="col-md-12 english-col">
                        <div class="english-col-label">
                            <label>English</label>
                        </div>
                        <div class="english col-md-12">
                            <label class="col-md-6">Speak</label>
                            <div class="col-md-6">
                                <span class="required">*</span>
                                <select id="EnglishProficiencySpeaking"
                                        data-bind="options: $root.englishProficiencySpeakingList, optionsText: 'Key',
                                                   optionsValue: 'Value', value: $root.EnglishProficiencySpeaking,
                                                  valueAllowUnset: false, optionsCaption: 'Choose...',
                                                   disable: $root.isDisabled()" class=" form-control form-control-overide"></select>
                            </div>
                        </div>
                        <div class="english col-md-12">

                            <label class="col-md-6">Write</label>
                            <div class="col-md-6">
                                <span class="required">*</span>
                                <select id="EnglishProficiencyWriting"
                                        data-bind="options: $root.englishProficiencyWritingList, optionsText: 'Key',
                                                   optionsValue: 'Value', value: $root.EnglishProficiencyWriting,
                                                  valueAllowUnset: false, optionsCaption: 'Choose...',
                                                   disable: $root.isDisabled()" class=" form-control form-control-overide"></select>
                            </div>
                        </div>
                        <div class="english col-md-12">
                            <label class="col-md-6">Read</label>
                            <div class="col-md-6">
                                <span class="required">*</span>
                                <select id="EnglishProficiencyReading"
                                        data-bind="options: $root.englishProficiencyReadingList, optionsText: 'Key',
                                                  optionsValue: 'Value', value: $root.EnglishProficiencyReading,
                                                 valueAllowUnset: false, optionsCaption: 'Choose...',
                                                  disable: $root.isDisabled()" class=" form-control form-control-overide"></select>
                            </div>
                        </div>
                        <div class="english col-md-12">
                            <label class="col-md-6">Understand</label>
                            <div class="col-md-6">
                                <span class="required">*</span>
                                <select id="EnglishProficiencyUnderstanding"
                                        data-bind="options: $root.englishProficiencyUnderstandingList, optionsText: 'Key',
                                                   optionsValue: 'Value', value: $root.EnglishProficiencyUnderstanding,
                                                  valueAllowUnset: false, optionsCaption: 'Choose...',
                                                   disable: $root.isDisabled()"
                                        class=" form-control form-control-overide"></select>
                            </div>
                        </div>

                    </div>
                    @*<div class="col-md-6 afrikaans-col">
                            <div class="afrikaans-col-label">
                                <label>Afrikaans</label>
                            </div>

                            <div class="afrikaans col-xs-12">
                                <label class="col-xs-6">Praat</label>
                                <div class="col-xs-6">
                                    <span class="required">*</span>
                                    <select id="AfrikaansProficiencyPraat"
                                            data-bind="options: $root.afrikaansProficiencyPraatList, optionsText: 'Key',
                                                       optionsValue: 'Value', value: $root.AfrikaansProficiencyPraat,
                                                      valueAllowUnset: false, optionsCaption: 'Choose...',
                                                       disable: $root.isDisabled()"
                                            class=" form-control form-control-overide"></select>
                                </div>
                            </div>
                            <div class="afrikaans col-xs-12">
                                <label class="col-xs-6">Skryf</label>
                                <div class="col-xs-6">
                                    <span class="required">*</span>
                                    <select id="AfrikaansProficiencySkryf"
                                            data-bind="options: $root.afrikaansProficiencySkryfList, optionsText: 'Key',
                                                       optionsValue: 'Value', value: $root.AfrikaansProficiencySkryf,
                                                      valueAllowUnset: false, optionsCaption: 'Choose...',
                                                       disable: $root.isDisabled()" class=" form-control form-control-overide"></select>
                                </div>
                            </div>
                            <div class="afrikaans col-xs-12">
                                <label class="col-xs-6">Lees</label>
                                <div class="col-xs-6">
                                    <span class="required">*</span>
                                    <select id="AfrikaansProficiencyLees"
                                            data-bind="options: $root.afrikaansProficiencyLeesList, optionsText: 'Key',
                                                       optionsValue: 'Value', value: $root.AfrikaansProficiencyLees,
                                                      valueAllowUnset: false, optionsCaption: 'Choose...',
                                                       disable: $root.isDisabled()"
                                            class=" form-control form-control-overide"></select>
                                </div>
                            </div>
                            <div class="afrikaans col-xs-12">
                                <label class="col-xs-6">Verstaan</label>
                                <div class="col-xs-6">
                                    <span class="required">*</span>
                                    <select id="AfrikaansProficiencyVerstaan"
                                            data-bind="options: $root.afrikaansProficiencyVerstaanList, optionsText: 'Key',
                                                       optionsValue: 'Value', value: $root.AfrikaansProficiencyVerstaan,
                                                      valueAllowUnset: false, optionsCaption: 'Choose...',
                                                       disable: $root.isDisabled()"
                                            class=" form-control form-control-overide"></select>
                                </div>
                            </div>
                        </div>*@

                </div>
                @*<div class="col-md-7">
                    </div>*@

            </div>
            <div class="row form-section">
                <div class="col-md-7 academic-details">
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Indicate your highest level of mathematics completed:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <select data-bind="options: $root.mathematicsCompetencyList, optionsText: 'Key',
                                               optionsValue: 'Value', value: $root.MathematicsCompetency,
                                              valueAllowUnset: false, optionsCaption: 'Choose...',
                                               disable: $root.isDisabled()"
                                    class=" form-control form-control-overide"></select>
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Symbol or percentage achieved in mathematics:</label>
                        </div>
                        <div class="col-xs-3">
                            <span class="required">*</span>
                            <input data-bind="value:MathematicsPercentage, disable: $root.isDisabled()" class="form-control form-control-overide" />
                        </div>
                    </div>
                    <div class="row maths-level">
                        <div class="col-xs-6 ">
                            <label>Main involvement during the year preceding your proposed studies at USB:</label>
                        </div>
                        <div class="col-xs-6">
                            <span class="required">*</span>
                            <select data-bind="options: $root.priorInvolvementList, optionsText: 'Key', optionsValue: 'Value',
                                               value: $root.PriorInvolvement,valueAllowUnset: false, optionsCaption: 'Choose...',
                                               disable: $root.isDisabled()"
                                    class=" form-control form-control-overide"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>

            <div class="row form-section">
                <div class="col-md-12 border borderbottom registration">
                    <p><span class="required">*</span>Please provide information regarding completed and uncompleted tertiary registrations:</p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="centerAlignText" style="width:200px">Institution</th>
                                <th class="centerAlignText">Degree or other Qualifications</th>
                                <th class="centerAlignText" style="width:200px">Field of Study</th>
                                <th class="centerAlignText" style="width:200px">Student Number</th>
                                <th class="centerAlignText" style="width:200px">Period (Years)</th>
                                <th class="centerAlignText">Completed</th>
                                <th class="centerAlignText">First</th>
                                <th class="centerAlignText">Highest Qualification</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:TertiaryEducationHistory">
                            <tr>
                                <td>
                                    <select class="form-control" id="otherUniversity" data-bind="options: $root.institutionsList, optionsText:'Key' , optionsValue:'Value', value: Institution,valueAllowUnset: false, optionsCaption: 'Choose...', disable: $root.isDisabled(), event: { change: $root.institutionChange } "></select>
                                    <div data-bind="visible: isOtherInstitution">
                                        <input data-bind="value: OtherInstitution, disable: $root.isDisabled()"
                                               class="form-control" />
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control" data-bind="value: Degree, disable: $root.isDisabled()"/>
                                    <span id="degreeTooltip" class="glyphicon glyphicon-info-sign" data-toggle="popover" title="Degree example" data-html="true" data-content="<div><p>Examples are included, but not limited to:<ul><li>Adv Dip</li><li>BTech, BCom</li><li>PGDip</li><li>BA (Hons), BSc (Hons)</li><li>MPhil, MCom, MEng</li><li>DPhil, PhD</li></ul></p></div>"></span>
                                </td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.fieldOfStudyList, optionsText:'Key' , optionsValue:'Value' ,
                                               value: FieldOfStudy,valueAllowUnset: false, optionsCaption: 'Choose...',
                                               disable: $root.isDisabled()"></select>
                                </td>
                                <td><input class="form-control" data-bind="value: StudentNumber, disable: $root.isDisabled()" /></td>
                                <td>
                                    <select class="form-control select-sm" data-bind="options: $root.availableYears, value: StartDate, disable: $root.isDisabled()"></select>
                                    to
                                    <select class="form-control select-sm" data-bind="options: $root.availableYears, value: EndDate, disable: $root.isDisabled()"></select>
                                </td>

                                <td><input type="checkbox" data-bind="checked: Completed, disable: $root.isDisabled()" /></td>
                                <td><input id="first" name="educationFirst" type="radio" data-bind="radioChecked:First, checkedValue: true" /></td>
                                <td><input id="highest" name="educationHighest" type="radio" data-bind="radioChecked:Highest, checkedValue: true" /></td>
                                <td><a id="removeTertiaryEducationHistory" style="color:red;" class="removeRow glyphicon glyphicon-remove " href="javascript:void(0)" data-bind="click: $root.removeEducationHistoryItem, visible: !$root.isDisabled()"></a></td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <p>
                                        If you have studied at another institution and you withheld this information,
                                        Stellenbosch University has the right to cancel your application or admission.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="padding-left: 15px;" data-bind="visible: $root.TertiaryEducationHistory().length <= 5">
                        <label for="btnAddTertiaryEducation"></label>
                        <a id="btnAddTertiaryEducation"
                           data-bind="click: $root.addTertiaryEducationHistory, visible: !$root.isDisabled()"
                           href="javascript:void(0)">Add Tertiary Education History</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class=" employment-info">
                <div class="sectionHeader">
                    <label>Employment Information</label>
                </div>
                <div class="row form-section">
                    <div id="EmploymentInformation" class="col-md-14 border borderbottom registration">
                        <p><span class="required">*</span>Employment over past 10 years (Start with current year)</p>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="centerAlignText" style="width:180px">Employer</th>
                                    <th class="centerAlignText" style="width:180px">Job Title</th>
                                    <th class="centerAlignText" style="width:120px">Work Area</th>
                                    <th class="centerAlignText" style="width:120px">Organization</th>
                                    <th class="centerAlignText" style="width:180px">Industry</th>
                                    <th class="centerAlignText">Period (Years)</th>
                                    <th class="centerAlignText">Type</th>
                                    <th class="centerAlignText">Latest</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:EmploymentHistory">
                                <tr>
                                    <td><input class="form-control" data-bind="value: Employer, disable: $root.isDisabled()" /></td>
                                    <td><input class="form-control" data-bind="value: JobTitle, disable: $root.isDisabled()" /></td>
                                    <td><select class="form-control" data-bind="options: $root.workAreaList, optionsText:'Key' , optionsValue:'Value', value: WorkArea,valueAllowUnset: false, optionsCaption: 'Choose...', disable: $root.isDisabled() "></select></td>
                                    <td><select class="form-control" data-bind="options: $root.organizationList, optionsText:'Key' , optionsValue:'Value', value: Organization,valueAllowUnset: false, optionsCaption: 'Choose...', disable: $root.isDisabled()"></select></td>
                                    <td><select class="form-control" data-bind="options: $root.industryList, optionsText:'Key' , optionsValue:'Value' , value: Industry,valueAllowUnset: false, optionsCaption: 'Choose...', disable: $root.isDisabled()"></select></td>
                                    <td>
                                        <select class="form-control select-sm" data-bind="options: $root.availableYears, value: StartDate, disable: $root.isDisabled()"></select>
                                        to
                                        <select class="form-control  select-sm" data-bind="options: $root.availableYears, value: EndDate, disable: $root.isDisabled()"></select>
                                    </td>
                                    <td><select class="form-control workStudiesDropDown" data-bind="options: $root.employmentTypeList, optionsText:'Key' , optionsValue:'Value', value: Type,valueAllowUnset: false, optionsCaption: 'Choose...', disable: $root.isDisabled()"></select></td>
                                    <td><input id="Latest" type="radio" name="employmentLatest" data-bind="radioChecked: Latest, checkedValue: true" /></td>
                                    <td><a id="removeEmploymentInformation" class="pull-right glyphicon glyphicon-remove" style="color:red" href="javascript:void(0)" data-bind="click: $root.removeEmploymentHistory, visible: !$root.isDisabled()"></a></td>
                            </tbody>
                        </table>
                        <div style="padding-left: 15px;" data-bind="visible: $root.EmploymentHistory().length <= 5">
                            <label for="btnAddEmploymentHistory"></label>
                            <a id="btnAddEmploymentHistory" data-bind="click: $root.addEmploymentHistory, visible: !$root.isDisabled()"
                               href="javascript:void(0)">Add Employment History</a>
                        </div>


                    </div>
                    <div class="row form-section">
                        <div class="col-md-10">
                            <div class="row maths-level">
                                <div class="col-xs-4">
                                    <label>Total years of full-time work experience: </label>
                                </div>

                                <div class="col-xs-2">
                                    <span class="required">*</span>
                                    <input type="number" class="form-control form-control-overide"
                                           data-bind="value: $root.YearsOfWorkingExperience, disable: $root.isDisabled()" />
                                </div>
                                <span class="infoNote">Please enter a whole number between 0 and 99</span>
                            </div>


                            <div class="row maths-level">
                                <div class="col-xs-4">
                                    <label>Indicate your current gross salary: </label>
                                </div>
                                <div class="col-xs-3">
                                    <span class="required">*</span>
                                    <select class="form-control form-control-overide"
                                            data-bind="options: $root.grossSalaryList, optionsText:'Key', optionsValue:'Value',
                                                   value: $root.AnnualGrossSalary,valueAllowUnset: false,
                                                   optionsCaption: 'Choose...', disable: $root.isDisabled()"></select>
                                </div>
                                <span class="infoNote">This information is compulsory for ranking and survey purposes.</span>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="">
                <div class="sectionHeader">
                    <label>Financial Assistance </label>
                </div>
                <div class="row  maths-level form-section">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-xs-6 ">
                                <label>Will your employer be assisting you financially?: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <select class="form-control"
                                        data-bind="options: $root.employerAssistFinanciallyList, optionsText:'Key',
                                                   optionsValue:'Value', value: $root.WillEmployerBeAssistingFinancially,
                                                  valueAllowUnset: false, optionsCaption: 'Choose...', disable: $root.isDisabled()"
                                        id="assistFinancially"></select>
                            </div>
                        </div>
                        <div class="row  maths-level" data-bind="visible: $root.IsAssistingFinancially()">
                            <div class="col-xs-6 ">
                                <label>Company name: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <input class="form-control"
                                       data-bind="value: $root.EmployerName, disable: $root.isDisabled()" />
                            </div>
                        </div>
                        <div class="row  maths-level" data-bind="visible: $root.IsAssistingFinancially()">
                            <div class="col-xs-6 ">
                                <label>Contact person's name and surname: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <input class="form-control"
                                       data-bind="value: $root.ContactPersonName, disable: $root.isDisabled()" />
                            </div>
                        </div>
                        <div class="row  maths-level" data-bind="visible: $root.IsAssistingFinancially()">
                            <div class="col-xs-6 ">
                                <label>Contact person's job title: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <input class="form-control"
                                       data-bind="value: $root.EmployerJobTitle, disable: $root.isDisabled()" />
                            </div>
                        </div>
                        <div class="row  maths-level" data-bind="visible: $root.IsAssistingFinancially()">
                            <div class="col-xs-6 ">
                                <label>Contact person's job field: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <select class="form-control"
                                        data-bind="options: $root.employerWorkAreaList, optionsText:'Key' ,
                                            optionsValue:'Value',
                                            value: $root.EmployerWorkAreas ,
                                           valueAllowUnset: false,
                                            optionsCaption: 'Choose...',
                                            disable: $root.isDisabled() "></select>
                            </div>
                        </div>
                        <div class="row  maths-level" data-bind="visible: $root.IsAssistingFinancially()">
                            <div class="col-xs-6 ">
                                <label>Contact person's contact number: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <input class="form-control"
                                       data-bind="value: $root.ContactPersonTelephone, disable: $root.isDisabled()" />
                            </div>
                        </div>
                        <div class="row  maths-level" data-bind="visible: $root.IsAssistingFinancially()">
                            <div class="col-xs-6 ">
                                <label>Contact person's email address: </label>
                            </div>
                            <div class="col-xs-6">
                                <span class="required">*</span>
                                <input class="form-control"
                                       data-bind="value: $root.ContactPersonEmailAddress, disable: $root.isDisabled()" />
                            </div>
                        </div>
               

                    </div>
                    <div class="col-md-5"></div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">
            <div class="sectionHeader">
                <label>Referees</label>
            </div>

            <div class="row  maths-level form-section">
                <p class="marginLeft10">Supply the names of two referees who can be approached directly by the business school to provide information regarding your business experience</p>

                <div class="col-md-2">
                    <div class="row  maths-level references">

                        <div class="col-xs-12">
                            <label><span class="required">*</span>Reference 1:</label>
                        </div>
                    </div>
                    <div class="row  maths-level references">
                        <div class="col-xs-12">
                            <label><span class="required">*</span>Reference 2:</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="row  maths-level">
                        <div class="col-xs-12" data-bind="with: $root.Referee()[0]">
                            <label>Name</label>
                            <input class="form-control" tabindex="1" data-bind="value: RefereeName, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="row maths-level" data-bind="with: $root.Referee()[1]">
                        <div class="col-xs-12">
                            <input class="form-control" tabindex="6" data-bind="value: RefereeName, disable: $root.isDisabled()" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level" data-bind="with: $root.Referee()[0]">
                        <div class="col-xs-12">
                            <label>Position</label>
                            <input class="form-control" tabindex="2" data-bind="value: RefereePosition, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="row  maths-level" data-bind="with: $root.Referee()[1]">
                        <div class="col-xs-12">
                            <input class="form-control" tabindex="7" data-bind="value: RefereePosition, disable: $root.isDisabled()" />
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level" data-bind="with: $root.Referee()[0]">
                        <div class="col-xs-12">
                            <label>Telephone</label>
                            <input class="form-control" tabindex="3" data-bind="value: RefereeTelephone, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="row  maths-level" data-bind="with: $root.Referee()[1]">
                        <div class="col-xs-12">
                            <input class="form-control" tabindex="8" data-bind="value: RefereeTelephone, disable: $root.isDisabled()" />
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level" data-bind="with: $root.Referee()[0]">
                        <div class="col-xs-12">
                            <label>Cell / Mobile</label>
                            <input class="form-control" tabindex="4" data-bind="value: RefereeCellPhone, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="row  maths-level" data-bind="with: $root.Referee()[1]">
                        <div class="col-xs-12">
                            <input class="form-control" tabindex="9" data-bind="value: RefereeCellPhone, disable: $root.isDisabled()" />
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  maths-level" data-bind="with: $root.Referee()[0]">
                        <div class="col-xs-12">
                            <label>Email</label>
                            <input class="form-control" tabindex="5" data-bind="value: RefereeEmail, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="row  maths-level" data-bind="with: $root.Referee()[1]">
                        <div class="col-xs-12">
                            <input class="form-control" tabindex="10" data-bind="value: RefereeEmail, disable: $root.isDisabled()" />
                        </div>

                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="section-wrap" data-bind="visible: !$root.isDisabled()">
            <button id="workAndStudiesSaveAndProceed" class="btn btnSaveProceed btn-sm pull-right"
                    data-bind="click: $root.StepThreeSaveAndProceed, visible: !$root.isDisabled()">
                Save and Proceed
            </button>
        </div>
    </div>
</div>
<div class="clearfix">&nbsp;</div>