﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "AddressDetails";
}

@{
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
}

@section Scripts {
    <script src="~/Scripts/app/ViewModels/AddressDetailsVM.js"></script>

    <script>
        $(function () {
            var model = new AddressDetails(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>

<div id="serverValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#serverValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label data-bind="text: $root.serverErrorMessage"></label>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Residential address - Home Country</label>
            </div>
            <div class="row form-section" id="residential">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Country:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <select class="form-control"
                                    data-bind="options: $root.Countries, optionsText: 'Key', optionsValue: 'Value',
                                               value: $root.ResidentialCountry, optionsCaption: 'Choose...', valueAllowUnset: true,
                                               disable: $root.isDisabled()"
                                    id="resAddress"></select>
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Street</label>
                            <div class="col-sm-6">
                                <span class="required">*</span>
                                <input type="text" class="form-control"
                                       data-bind="value: $root.ResidentialStreet1, valueUpdate:'afterkeydown',
                                                  disable: $root.isDisabled()"/>
                            </div>
                            <span class="infoNote-red">Example: 748 Riverside</span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control marginLeft13"
                                       data-bind="value: $root.ResidentialStreet2, valueUpdate:'afterkeydown',
                                                  disable: $root.isDisabled()"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control marginLeft13"
                                       data-bind="value: $root.ResidentialStreet3, valueUpdate:'afterkeydown',
                                                  disable: $root.isDisabled()"/>
                            </div>
                        </div>
                        <div>
                            &nbsp
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">City:</label>
                            <div class="col-sm-6">
                                <span class="required">*</span>
                                <input type="text" class="form-control"
                                       data-bind="value: $root.ResidentialCity, disable: $root.isDisabled()"/>

                                @*<img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayResidentialCityValid()"/>
                                <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayResidentialCityValid()"/>*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Postal code:</label>
                            <div class="col-sm-6">
                                <span class="required">*</span>
                                <input type="text" class="form-control"
                                       data-bind="value: $root.ResidentialPostalCode, disable: $root.isDisabled(), valueUpdate:'afterkeydown'"/>

                                @*<img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayResidentialPostalCodeValid() "/>
                                <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayResidentialPostalCodeValid() "/>*@
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="col-sm-4 control-label">Address valid until:</label>
                            <div class="col-sm-6">
                                <span class="required">*</span>
                                <i class="glyphicon glyphicon-calendar form-control-feedback" style="right: 29px;"></i>
                                <input placeholder="YYYY/MM/DD" type="text" class="paddLeft12 form-control" id="addressValidUnit" style="cursor: pointer;"
                                       data-bind="value: $root.ResidentialValidUntil, disable: $root.isDisabled()"
                                       data-date-format="yyyy/mm/dd"/>
                            </div>
                            </div>
                        <div>
                            &nbsp;
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Emergency Contact - Home Country</label>
            </div>
            <div class="row form-section" id="residential">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Title:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <select class="form-control" id="selectTitle"
                                    data-bind="options: Titles, optionsText: 'Key', optionsValue: 'Value',
                                       value: $root.EmergencyContactTitle, valueAllowUnset: true,
                                       optionsCaption: 'Please select...', disable: $root.isDisabled()"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Initials:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control marginLeft13" id="txtInitials"
                                   data-bind="value: $root.EmergencyContactInitals, disable: $root.isDisabled()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">First Names:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control" id="txtFirstFullNames"
                                   data-bind="value: $root.EmergencyContactName, disable: $root.isDisabled()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Surname:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control" id="txtSurname"
                                   data-bind="value: $root.EmergencyContactSurname, disable: $root.isDisabled()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Relationship to you:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control"
                                   data-bind="value: $root.EmergencyContactRelationship, disable: $root.isDisabled()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Country:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <select class="form-control"
                                    data-bind="options: $root.Countries, optionsText: 'Key', optionsValue: 'Value',
                                               value: $root.EmergencyContactCountry, optionsCaption: 'Choose...', valueAllowUnset: true,
                                               disable: $root.isDisabled()"
                                    id="emergAddress"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Street / Postbox:</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control"
                                   data-bind="value: $root.EmergencyContactStreet1, disable: $root.isDisabled(), valueUpdate:'afterkeydown'">
                        </div>
                        <span class="infoNote-red">Example: 748 Riverside</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control marginLeft13"
                                   data-bind="value: $root.EmergencyContactStreet2, disable: $root.isDisabled(), valueUpdate:'afterkeydown'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control marginLeft13"
                                   data-bind="value: $root.EmergencyContactStreet3, disable: $root.isDisabled(), valueUpdate:'afterkeydown'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">City</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control"
                                   data-bind="value: $root.EmergencyContactCityTown, disable: $root.isDisabled()">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Postal Code</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control"
                                   data-bind="value: $root.EmergencyContactPostalCode, disable: $root.isDisabled(), valueUpdate:'afterkeydown'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="HomePhoneId" class="col-sm-4 control-label">Home phone number</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input id="HomePhoneId" type="tel" class="form-control" data-bind="value: $root.EmergencyContactTelephone, disable: $root.isDisabled(), valueUpdate:'afterkeydown'" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email address</label>
                        <div class="col-sm-6">
                            <span class="required">*</span>
                            <input type="text" class="form-control"
                                   data-bind="value: $root.EmergencyContactEmail, disable: $root.isDisabled()">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btnSaveProceed btn-sm pull-right"
                data-bind="click: $root.StepTwoSaveAndProceed, visible: !$root.isDisabled()">
            Save and Proceed
        </button>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
</div>