﻿@{
    ViewBag.Title = "Index";
}

<div id="welcome-wrap" class="centerDivTable" >

    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Welcome</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            Welcome to the University of Stellenbosch Business School's Application Form for bilateral exchange applications.
                        </p>
                        <p>
                            You were redirected to this page to start a new application, or load your existing application.
                        </p>
                        <p>
                            Please fill in your e-mail address and click 'Continue'.  If you've started an application
                                        on a previous occasion, you will be prompted, otherwise a new application will start.
                        </p>
                        <label>Please note:</label>
                        <ul>
                            <li>Please upload the correct documents at the correct places</li>
                            <li>Give the required documents meaningful names relating to it’s content.</li>
                            <li>Only submit your electronic application once ALL the documents have been uploaded</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper row">
        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: $root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed</div>
            </div>
            <div class="sectionBody">
                <p>An E-mail has been send to the address that you have supplied containing the unique link which you must use to gain access to your active application.</p>                
                <p></p>
                <p>For further assistance contact the International Applications Office at <a href="mailto:International.Applications@usb.ac.za">International.Applications@usb.ac.za</a></p>
            </div>

        </div>

        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: !$root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed</div>
            </div>
            <div class="sectionBody ">
                <div id="emailAddrArea" class="row">
                    <div class="col-md-12  col-md-offset-1  col-centered">
                        <div class="col-md-3 email-label">
                            <label>Email Address:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <input data-bind="value: $root.emailAddress, enterKey: $root.Continue" type="email" class="form-control" />
                            </div>
                        </div>
                            
                        <div class="col-md-3">
                            <button data-bind="click: $root.Continue" id="ContinueButton" class="btn bt-lg">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionBody" data-bind="visible: $root.IsApplicant()">
                <p>We have determined that an active application is linked to your e-mail address. If you would like us to send you an e-mail with the unique link to continue your application click on the link below</p>
                <input type="button" value="Send Link to my E-mail address" data-bind="click: sendEMail" />
                <p></p>
                <p>Alternatively, for further assistance contact the International Applications Office at <a href="mailto:International.Applications@usb.ac.za">International.Applications@usb.ac.za</a></p>
            </div>

        </div>
    </div>
</div>

<div id="divError">
</div>

@section Scripts{
    <script src="~/Scripts/app/ViewModels/Index.js"></script>
}

<div style="display: none">
    <p id="pSarGuid"></p>
    <input name="ctl00$MainContent$textboxProgramme" id="textboxProgramme" size="50" type="text">
</div>





