﻿@{
    ViewBag.Title = "Submitted";
}

@section Scripts {

    <script>
        $(function () {
            $("#tabs").hide();
        });
    </script>
}

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Successful Submission</label>
            </div>

            <div class="row form-section">
                <div class="col-md-6">
                    <div class="form-group">
                        <p>
                            Thank you for your application to study at the University of Stellenbosch Business School.
                            <br />
                            <br />
                            Your application has been sent for processing to our Admissions Office.
                            <br />
                            <br />
                            Should you have any questions, please contact us at <a href="mailto:International.Applications@usb.ac.za">International.Applications@usb.ac.za</a>
                            <br />
                            <br />
                            <a href="http://www.usb.ac.za">http://www.usb.ac.za</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

