﻿@{
    ViewBag.Title = "Index";
}

<div id="welcome-wrap" class="centerDivTable" >
    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Welcome</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            Welcome to the University of Stellenbosch Business School's Application Form.
                        </p>
                        <p>
                            You were redirected to this page to start a new application, or load your existing application.
                        </p>
                        <p>
                            Please familiarise yourself with the content below and confirm understanding before continuing with your application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">MBA Streams</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            USB’s MBA is offered in three streams. The <b>MBA with generalist modules</b> is aimed at those who want to manage the functional areas of a business in any sector at senior manage level. The MBA with a concentration of <b>stream-specific modules in Managing International Organisations</b> (MBA MIO) and the MBA with a concentration of <b>stream-specific modules in Health Care Leadership</b> (MBA HCL) are aimed at those who want domain expertise at senior management level.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row wrapper">
        <div class="fieldSection centerDivTable col-md-12">
            <div class="row">
                <div class="sectionHeader col-md-12">Submitting your application</div>
            </div>
            <div class="sectionBody">
                <div class="row">
                    <div class="col-md-12 welcome-message">
                        <p>
                            A completed application implies that all the fields on every page are filled in (each section indicating a <a href="" class="glyphicon glyphicon-ok"></a> tick) and that all required documents have been uploaded before it can be submitted.
                        </p>
                        <p>
                        <p style="color: red;">
                            <b>I hereby declare that I have read and that I understand the application requirements above.</b><input type="checkbox" style="margin-left: 5px;" data-bind="checked: $root.requirementsUnderstood" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper row" data-bind="visible: $root.requirementsUnderstood">
        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: $root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed</div>
            </div>
            <div class="sectionBody">
                <p>An E-mail has been send to the address that you have supplied containing the unique link which you must use to gain access to your active application.</p>
                <p></p>
                <p>For further assistance contact the USB Applications Office at +27 (0) 21 918 4239</p>
            </div>

        </div>

        <div class="fieldSection centerDivTable col-md-12" data-bind="visible: !$root.mailSend()">
            <div class="row">
                <div class="sectionHeader col-md-12">Proceed with application</div>
            </div>
            <div id="proceedWithAppSection">
                <div id="emailSection" class="sectionBody ">
                    <p data-bind="visible: $root.studentHistory().length == 0">
                        Please fill in your e-mail address and student number and click "Next". If you've started an application on a previous occasion, you will be prompted, otherwise a new application will start.
                    </p>
                    <p data-bind="visible: $root.studentHistory().length > 0">
                        Please select one of the following Programme offerings you applied for in the past and click "Continue".
                    </p>
                    <div class="row" data-bind="visible: $root.studentHistory().length == 0">
                        <div class="col-md-12  col-md-offset-1  col-centered">
                            <div class="col-md-3 email-label">
                                <label>Email Address:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    @*<input data-bind="value: $root.emailAddress, enterKey: $root.Continue" type="email" class="form-control" />*@
                                    <input data-bind="value: $root.emailAddress" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12  col-md-offset-1  col-centered">
                            <div class="col-md-3 email-label">
                                <label data-bind="visible: $root.studentHistory().length == 0">Student number:</label>
                                <label data-bind="visible: $root.studentHistory().length > 0">Programme Offering:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row" data-bind="visible: $root.studentHistory().length == 0">
                                    @*<input data-bind="value: $root.studentNumber, enterKey: $root.Continue" type="text" class="form-control" />*@
                                    <input data-bind="value: $root.studentNumber" type="text" class="form-control" />
                                </div>
                                <div class="row" data-bind="visible: $root.studentHistory().length > 0">
                                    <span class="required" >*</span>
                                    <select class="form-control" data-bind="options: $root.studentHistory, optionsText: 'ProgrammeOfferingName', value: $root.selectedStudentHistory, valueAllowUnset: true, optionsCaption:'Please select...'"></select>
                                    <span class="marginLeft13 field-validation-error" data-bind="visible: $root.studentHistory().length == 0">No offerings currently available.</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <button data-bind="click: $root.GetStudentHistory, visible: $root.studentHistory().length == 0 && $root.canContinue()" id="NextButton" class="btn bt-lg" style="width: 82px;">Next</button>
                                <button data-bind="click: $root.Continue, visible: $root.studentHistory().length > 0" id="ContinueButton" class="btn bt-lg" style="width: 82px;">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="sectionBody field-validation-error" data-bind="visible: !$root.canContinue()">
                    <p>No previous records found...</p>
                    <p></p>
                    <p>Alternatively, for further assistance contact the USB Applications Office at +27 (0) 21 918 4239</p>
                </div>
                
                <div class="sectionBody" data-bind="visible: $root.IsApplicant()">
                    <p>We have determined that an active application is linked to your e-mail address. If you would like us to send you an e-mail with the unique link to continue your application click on the link below</p>
                    <input type="button" value="Send Link to my E-mail address" data-bind="click: sendEMail" />
                    <p></p>
                    <p>Alternatively, for further assistance contact the USB Applications Office at +27 (0) 21 918 4239</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="divError">
</div>

@section Scripts{
    <script src="~/Scripts/app/ViewModels/Index.js"></script>
}

<div style="display: none">
    <p id="pSarGuid"></p>
    <input name="ctl00$MainContent$textboxProgramme" id="textboxProgramme" size="50" type="text">
</div>





