﻿@using System.Web.Mvc.Html;
@using System.Web.Mvc;

@{
    ViewBag.Title = "Shared";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    

    @*@Styles.Render("~/Content/upload/Site.css")
    @Styles.Render("~/Content/upload/bootsrap.css")*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    <style>
        body
        {
            /*font-size: .85em;*/
            font-family : "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
            /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
            
            background: white;
            margin: 0;
            padding: 0;

        }

    </style>
</head>

<body>

@Html.Partial("Dialogs")

<script type="text/javascript">
    var basePath = @Url.Content("~/");
   // var loadingImagePath = "~/Images/ajax-loader-big.gif";
   // var loadingDiv = "<div id='LoadingDiv' style='z-index: 9999; background-color: blue; padding: 5px; display:inline;float:left; text-align:center; margin-top:300px;width:1250px;height:1250px;'><img src='" + loadingImagePath + "'></div>";
</script>

<div id="Main">
  
    <div data-bind="foreach: Section.Items">
        <div>
            @Html.Partial("MultiFileUpload")
        </div>
    </div>
</div>
<script type="text/javascript">
    var upload = new Upload()
    upload.Load(@Html.Raw(ViewBag.Model));
</script>
</body>
</html>