﻿.marginLeft10
{
    margin-left:10px !important;
}
.marginLeft13
{
    margin-left:13px !important;
}
.marginLeft15
{
    margin-left: 15px !important;
}
.marginRight20 
{
    margin-right:20px !important;
}
.marginLeft25
{
    margin-left: 25px !important;
}

.marginCenter > p { 
     margin-top: 25px;
     vertical-align:central;
}


.right15 {
    right: 15px !important;
}

.right9{
    right: 9px !important;
}

.height20 {
    height:30px;
    margin-top:20px;
}

.width40 {
    width:40%;
}
.width80 {
    width:80%;
}