﻿@{
    ViewBag.Title = "Error";
}

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Error Occurred</label>
            </div>

            <div class="row form-section">
                <div class="col-md-6">
                    <div class="form-group">
                        <p>
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
