﻿

<style>
    .ui-dialog-titlebar {
        color: white;
        background: #A90C37 !important ;
        height: 30px;
    
    }
    
     .ui-dialog-title {
         padding: 5px;
         font-size: 16px !important;
    }

    .ui-dialog-titlebar-close {
        visibility: hidden !important;
    }

    .ui-dialog {
          border-radius: 5px;
    }

     .ui-dialog-content {
         background: white;
         padding: 10px;
     }
     .dialogMessage {
         color: black;
     }

    .ui-button-text {
        color: white;
        background: lightblue;
        border-color: #A0AC60;
    }
   

</style>



<div id="dialog" class="dialog">
   <div id="dialogMessage" class="dialogMessage"></div>
</div>