﻿@using System.Web.Script.Serialization;
@using USB.Domain.Models.Enums

@{
    ViewBag.Title = "Marketing";
}

@{
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);

    var programmeType = (ProgrammeType)Session["programmeType"];

    var programmeDescription = programmeType.GetDescription();
}

@section Scripts{
    <script src="~/Scripts/app/ViewModels/MarketingVM.js"></script>
    <script>
        $(function () {
            var model = new Marketing(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>

<div id="serverValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#serverValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label data-bind="text: $root.serverErrorMessage"></label>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">

        <div class="row">
            <div class="sectionHeader col-md-12">Marketing Information</div>
        </div>
        <div class="sectionBody">
            <div class="row">
                <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px">
                    <label>Where did you hear about the USB @programmeDescription? (mark as many as you like)</label>
                    <div class="form-section wordwrapNone marginCenter ">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Advertisement</p>
                                <input class="col-md-1" id="checkboxAdvertisement" data-bind="checked: $root.checkboxAdvertisement, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">News article</p>
                                <input class="col-md-1" id="checkboxNewsArticle" data-bind="checked: $root.checkboxNewsArticle, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">USB promotional emails</p>
                                <input class="col-md-1" id="checkboxUsbPromotionalEmails" data-bind="checked: $root.checkboxUsbPromotionalEmails, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Conference or expo</p>
                                <input class="col-md-1" id="checkboxConferenceOrExpo" data-bind="checked: $root.checkboxConferenceOrExpo, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by my employer</p>
                                <input class="col-md-1" id="checkboxReferralByMyEmployer" data-bind="checked: $root.checkboxReferralByMyEmployer, disable: $root.isDisabled()" type="checkbox">
                            </div>

                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Stellenbosch University</p>
                                <input class="col-md-1" id="checkboxStellenboschUniversity" data-bind="checked: $root.checkboxStellenboschUniversity, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by an alumnus</p>
                                <input class="col-md-1" id="checkboxReferralByAnAlumnus" data-bind="checked: $root.checkboxReferralByAnAlumnus, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">USB website</p>
                                <input class="col-md-1" id="checkboxUsbWebsite" data-bind="checked: $root.checkboxUsbWebsite, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by a current student</p>
                                <input class="col-md-1" id="checkboxReferralByACurrentStudent" data-bind="checked: $root.checkboxReferralByACurrentStudent, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">USB-ED</p>
                                <input class="col-md-1" id="checkboxUsbEd" data-bind="checked: $root.checkboxUsbEd, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Referral by a family member or friend</p>
                                <input class="col-md-1" id="checkboxReferralByAFamilyMemberOrFriend" data-bind="checked: $root.checkboxReferralByAFamilyMember, disable: $root.isDisabled()" type="checkbox">
                            </div>
                            <div class="col-md-4 borderbody">
                                <p class="col-md-8">Brochure</p>
                                <input class="col-md-1" id="checkboxBrochure" data-bind="checked: $root.checkboxBrochure, disable: $root.isDisabled()" type="checkbox" />
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 borderbody borderbottom">
                                <p class="col-md-8 width50per">Social media</p>
                                <input class="col-md-1" id="checkboxSocialMedia" data-bind="checked: $root.checkboxSocialMedia, disable: $root.isDisabled()" type="checkbox">
                            </div>

                            <div class="col-md-4 borderbody borderbottom">
                                <p class="col-md-8">On-campus event (Leader's angle, etc.)</p>
                                <input class="col-md-1" id="checkboxOnCampusEvent" data-bind="checked: $root.checkboxOnCampusEvent, disable: $root.isDisabled()" type="checkbox" />
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px;">
                    <label>Please give an indication for why you want to pursue postgraduate studies (Mark as many as you like)</label>
                    <div class="form-section wordwrapNone marginCenter">
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Earn more money</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxEarnMoreMoney, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Give my children a better future</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGiveMyChildABetterFuture, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Increase my status among work colleagues and or friends</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxIncreaseMyStatus, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Make my parents proud</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxMakeMyParentsProud, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Provide stability in my career</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxProvideStability, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Get a promotion where I currently work</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGetAPromotion, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Qualify for other opportunities within my current organisation</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxQualifyForOportunities, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Advance more quickly in my career</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxAdvanceInCareer, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Have more control of my future</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHaveMoreControl, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Have a more fulfilling / satisfying career</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHaveSatisfyingCareer, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Better networking opportunities</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxBetterNetworkingOportunities, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Improve specific skills</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxImproveSkills, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Improve my leaderships skills</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxImproveLeadershipSkills, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Qualify to work at other companies and / or other industries</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxQualifyToWorkAtOtherCompanies, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Access to employment opportunities in other countries</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxForeignWorkOportunities, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Help me keep up or catch up to my peers</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxCatchUpWithPeers, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Help start/ run my own business</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxStartOwnBusiness, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Learn something different</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxLearnSomethingDifferent, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Get more respect</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGetRespect, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Be a role model</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxRoleModel, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Stand out from others</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxStandOut, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Improve my socio-economic status / standing</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxImproveSocioEconomicStatus, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Develop skills to have greater social impact / improve my community</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxDevelopSkills, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Keep up with the fast changing world</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxKeepUpWithChangingWorld, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Have more influence and / or credibility</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHaveMoreInfluence, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Gain international exposure/ global perspective</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGainInternationalExposure, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Move into a management job with supervisory responsibilities</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxManagementJob, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Become an expert in my field</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxBecomeAnExpert, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody">
                                <p class="col-md-11">Reinvent myself</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxReinventMyself, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-6 borderbody borderbottom">
                                <p class="col-md-11">Increase my confidence</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxIncreaseConfidence, disable: $root.isDisabled()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 borderbody borderbottom">
                                <p class="col-md-11">Overcome social barriers to advancement (i.e. gender, minority status or previously disadvantaged)</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxOvercomeSocialBarriers, disable: $root.isDisabled()">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 welcome-message paddingBlock" style="padding-bottom: 20px;">
                    <label>What made you decide to apply at the USB @programmeDescription? (mark as many as you like)</label>
                    <div class="form-section wordwrapNone marginCenter" style="align-content:center;">
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Nearby so I can commute from home</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxCommunicateFromHome, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Located in my current country</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxLocatedInCurrentCountry, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Location that I would like to experience by moving there</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxLocationThatIWouldLike, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Excellent academic reputation</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxExcellentAcademic, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Good reputation for its business programs</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGoodReputationForBusiness, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Graduates are more successful than graduates from other schools</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGraduatesAreMoreSuccessful, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Has the specific program that meets my needs</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHasTheSpecificProgram, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Highly ranked school</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHighlyRankedSchool, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">My parent(s) graduated from this school</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxParentsGraduated, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Well-known internationally</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxWellKnownInternationally, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Its alumni include many corporate leaders</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxItsAlumniIncludeMany, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">High-quality instructors/faculty</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHighQualityInstructors, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Graduates from this school get better job opportunities</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGraduatesFromThisSchool, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Highly recommended by my employer</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxRecommendedByEmployer, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Highly recommended by my friends and/or colleagues</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxRecommenedByFriends, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Ease of fitting in with other students/ school culture</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxEaseOfFittingIn, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Only the best students get accepted</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxOnlyTheBestStudents, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Lower tuition costs than other schools</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxLowerTuitionCosts, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Offers generous scholarships and/or subsidized by government</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxOfferGenerousScholarships, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">A degree from this school is recognized by global employers</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxADegreeFromThisSchool, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Offers a good student experience</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxOffersGoodStudentExperience, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">Good on-campus career recruiting/ corporate connections</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxGoodOnCampusCareer, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody">
                                <p class="col-md-9">State-of-the-art/modern facilities</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxModernFacilities, disable: $root.isDisabled()">
                            </div>
                            <div class="col-md-5 borderbody borderbottom">
                                <p class="col-md-9">Offers online classes/programs</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxOffersOnlineClasses, disable: $root.isDisabled()">
                            </div>
                        
                        </div>
                        <div class="row">
                        
                            <div class="col-md-5 borderbody borderbottom">
                                <p class="col-md-9">Has a strong alumni network</p>
                                <input class="col-md-1" type="checkbox" data-bind="checked: $root.checkboxHasAStrongAlumniNetwork, disable: $root.isDisabled()">
                            </div>
                        
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="marketingSaveAndProceed" class="btn btnSaveProceed btn-sm pull-right"
            data-bind="click: $root.StepFourSaveAndProceed, visible: !$root.isDisabled()">
        Save and Proceed
    </button>
</div>
<div class="clearfix">&nbsp;</div>
