﻿@using System.Web.Script.Serialization;

@{
    ViewBag.Title = "AddressDetails";
}

@{
    string isDisabled = new JavaScriptSerializer().Serialize(ViewBag.DisableView);
}

@section Scripts {
    <script src="~/Scripts/app/ViewModels/AddressDetailsVM.js"></script>

    <script>
        $(function () {
            var model = new AddressDetails(@Html.Raw(isDisabled));
            ko.applyBindings(model);
        });
    </script>
}

<div class="clearfix">&nbsp;</div>

<div id="requiredFieldsAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#requiredFieldsAlert').hide()">&times;</a>
    <strong>Form Incomplete:</strong> Please fill in all fields outlined in red.
</div>

<div id="serverValidationAlert" class="alert alert-danger" style="display:none">
    <a href="#" class="alert-close close" aria-label="close" onclick="$('#serverValidationAlert').hide()">&times;</a>
    <strong>Field Error:</strong> <label data-bind="text: $root.serverErrorMessage"></label>
</div>

<div class="row container">
    <div class="col-md-12 form-wrap">
        <form class="form-horizontal">

            <div class="sectionHeader">
                <label>Residential address</label>
            </div>
            <div class="row form-section" id="residential">
                <div class=" col-md-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Country:</label>
                        <div class="col-sm-6">
                            <select class="form-control"
                                    data-bind="options: $root.Countries, optionsText: 'Key', optionsValue: 'Value',
                                               value: $root.ResidentialCountry, optionsCaption: 'Choose...', valueAllowUnset: true,
                                               disable: $root.isDisabled()"
                                    id="resAddress"></select>
                        </div>
                    </div>

                    <div data-bind="visible: $root.IsResidentialAddressSelected()">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Street</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"
                                       data-bind="value: $root.ResidentialStreet1, valueUpdate:'afterkeydown',
                                                  disable: $root.isDisabled()" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"
                                       data-bind="value: $root.ResidentialStreet2, valueUpdate:'afterkeydown',
                                                  disable: $root.isDisabled()" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control"
                                       data-bind="value: $root.ResidentialStreet3, valueUpdate:'afterkeydown',
                                                  disable: $root.isDisabled()" />
                            </div>
                        </div>
                        <div>
                            &nbsp
                        </div>

                        <div class="form-group" data-bind="visible: $root.IsSAResidentialAddress()">
                            <label class="col-sm-4 control-label">Suburb:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control afrigisInputSuburb address-line-resize"
                                       data-bind="value: $root.ResidentialSuburb, disable: $root.IsSAResidentialAddress() || $root.isDisabled()" />

                                <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayResidentialSuburbValid()" />
                                <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayResidentialSuburbValid()" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" data-bind="visible: $root.IsNonSAResidentialAddress()">City / Town:</label>
                            <label class="col-sm-4 control-label" data-bind="visible: $root.IsSAResidentialAddress()">City:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control afrigisInputCity address-line-resize"
                                       data-bind="value: $root.ResidentialCity, disable: $root.IsSAResidentialAddress() || $root.isDisabled()" />

                                <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayResidentialCityValid() " />
                                <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayResidentialCityValid() " />
                            </div>
                        </div>

                        <div class="form-group" data-bind="visible: $root.IsNonSAResidentialAddress()">
                            <label class="col-sm-4 control-label">State / Province:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control address-line-resize"
                                       data-bind="value: $root.ResidentialStateProvince, disable: $root.isDisabled()" />

                                <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayResidentialStateValid()" />
                                <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayResidentialStateValid()" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Postal code:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control afrigisInputPostalCode address-line-resize"
                                       data-bind="value: $root.ResidentialPostalCode, disable: $root.IsSAResidentialAddress() || $root.isDisabled()" />

                                <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayResidentialPostalAddressValid()" />
                                <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayResidentialPostalAddressValid()" />
                            </div>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                    </div>
                
                </div>

                <div class="pull-right col-sm-6 search-address" data-bind="visible: $root.IsSAResidentialAddress()">
                    <div class="afrigisSearchBox">
                        <p>
                            Please enter your <b>postal code</b> or the name of your <b>city</b> or <b>suburb</b> below, and press the <b>"Search"</b> button.  This will return a list containing items with a combination of code, suburb and city, from where you can <b>select an item</b> to populate the greyed out fields on the left.

                        </p>
                        <div>
                            <input class="afrigisSearchInput form-control" type="text" 
                                   data-bind="value: $root.AfrigisSearch, disable: $root.isDisabled()">
                            <button class="afrigisSearchButton btn btn-sm"
                                    data-bind="click:afrigisSearchClick.bind($data,'residential'), disable: $root.isDisabled()">
                                Search
                            </button>
                            <span class="afrigisSearchSpinner" style="display: none;"><img src="~/Images/loader.gif" /></span>
                        </div>
                        <p>(Examples: "7600" or "Welgemoed" or "Cape Town", etc.)</p>
                        <p class="green-text">To change your selection, re-use the search functionality above</p>
                        <div class="afrigisSearchResultBox" style="display: none;">
                            <div>Next, <b>select</b> your combination below to complete the form:</div>
                            <div>
                                <select name="ctl00$MainContent$selectResidentialAfrigis" id="MainContent_selectResidentialAfrigis" class="afrigisResultList" data-bind="event:{ change: $root.afrigisResultChange.bind($data, 'residential') }"></select>
                            </div>
                            <div class="afrigisArrowRight"></div>
                        </div>
                        <div class="afrigisSuccessMessage" style="display: none;">To change your selection, re-use the search functionality above.</div>
                        <div class="afrigisErrorMessage" style="display: none;">We could not find any results matching your query.  Please try one of the other criteria suggested.</div>
                    </div>
                </div>
            
            </div>
        </form>
    </div>
</div>

<div class="clearfix">&nbsp;</div>

<div class="col-md-12 form-wrap">
    <form class="form-horizontal">

        <div class="sectionHeader">
            <label>Postal address</label>
        </div>
        <div class="row form-section" id="postal">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Country:</label>
                    <div class="col-sm-6">
                        <select class="form-control"
                                data-bind="options: $root.Countries, optionsText: 'Key', optionsValue: 'Value',
                                           value: $root.PostalCountry, optionsCaption: 'Choose...', valueAllowUnset: true,
                                           disable: $root.isDisabled()" id="postalAddress"></select>
                    </div>
                </div>

                <div data-bind="visible: $root.IsPostalAddressSelected()">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Street/Postbox</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.PostalStreet1, valueUpdate:'afterkeydown',
                                              disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.PostalStreet2, valueUpdate:'afterkeydown',
                                              disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.PostalStreet3, valueUpdate:'afterkeydown',
                                              disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div>
                        &nbsp
                    </div>
                    <div class="form-group" data-bind="visible: $root.IsSAPostalAddress()">
                        <label class="col-sm-4 control-label">Suburb:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputSuburb address-line-resize"
                                   data-bind="value: $root.PostalSuburb, disable: $root.IsSAPostalAddress() || $root.isDisabled(),
                                              valueUpdate:'afterkeydown'" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayPostalSuburbValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayPostalSuburbValid()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" data-bind="visible: $root.IsNonSAPostalAddress()">City / Town:</label>
                        <label class="col-sm-4 control-label" data-bind="visible: $root.IsSAPostalAddress()">City:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputCity address-line-resize"
                                   data-bind="value: $root.PostalCity, disable: $root.IsSAPostalAddress() || $root.isDisabled(),
                                              valueUpdate:'afterkeydown'" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayPostalCityValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayPostalCityValid()" />
                        </div>
                    </div>

                    <div class="form-group" data-bind="visible: $root.IsNonSAPostalAddress()">
                        <label class="col-sm-4 control-label">State / Province:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control address-line-resize"
                                   data-bind="value: $root.PostalStateProvince, disable: $root.isDisabled()" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayPostalStateValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayPostalStateValid()" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-4 control-label">Postal code:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputPostalCode address-line-resize"
                                   data-bind="value: $root.PostalPostalCode, disable: $root.IsSAPostalAddress() || $root.isDisabled(),
                                              valueUpdate:'afterkeydown'" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayPostalPostalAddressValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayPostalPostalAddressValid()" />
                        </div>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                </div>
            </div>

            <div class="pull-right col-sm-6 copy-address">
                <span>
                    <label>Copy address:&nbsp &nbsp</label>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyResidentialToPostal, disable: $root.isDisabled()">
                        Residential
                    </button>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyBusinessToPostal, disable: $root.isDisabled()">
                        Business
                    </button>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyBillingToPostal, disable: $root.isDisabled()">
                        Billing
                    </button>
                </span>
            </div>

            <div class="pull-right col-sm-6">&nbsp;</div>

            <div class="pull-right col-sm-6 search-address" 
                 data-bind="visible: $root.IsSAPostalAddress()">
                <div class="afrigisSearchBox">
                    <p>
                        Please enter your <b>postal code</b> or the name of your <b>city</b> or <b>suburb</b> below, and press the <b>"Search"</b> button.  This will return a list containing items with a combination of code, suburb and city, from where you can <b>select an item</b> to populate the greyed out fields on the left.

                    </p>
                    <div>
                        <input class="afrigisSearchInput form-control" type="text" data-bind="disable: $root.isDisabled()">
                        <button class="afrigisSearchButton btn btn-sm"
                                data-bind="click:afrigisSearchClick.bind($data,'postal'), disable: $root.isDisabled()">
                            Search
                        </button>
                        <span class="afrigisSearchSpinner" style="display: none;"></span>
                    </div>
                    <p>(Examples: "7600" or "Welgemoed" or "Cape Town", etc.)</p>
                    <p class="green-text">To change your selection, re-use the search functionality above</p>
                    <div class="afrigisSearchResultBox" style="display: none;">
                        <div>Next, <b>select</b> your combination below to complete the form:</div>
                        <div>
                            <select class="afrigisResultList" name="ctl00$MainContent$selectResidentialAfrigis"
                                    id="MainContent_selectResidentialAfrigis"
                                    data-bind="event:{ change: $root.afrigisResultChange.bind($data, 'postal') }, 
                                               disable: $root.isDisabled()"></select>

                        </div>
                        <div class="afrigisArrowRight"></div>
                    </div>
                    <div class="afrigisSuccessMessage" style="display: none;">To change your selection, re-use the search functionality above.</div>
                    <div class="afrigisErrorMessage" style="display: none;">We could not find any results matching your query.  Please try one of the other criteria suggested.</div>
                </div>
            </div>
        
        </div>
    </form>
</div>

<div class="clearfix">&nbsp;</div>

<div class="col-md-12 form-wrap">
    <form class="form-horizontal">

        <div class="sectionHeader">
            <label>Business address</label>
        </div>
        <div class="row form-section" id="business">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Country:</label>
                    <div class="col-sm-6">
                        <select class="form-control"
                                data-bind="options: $root.Countries, optionsText: 'Key', optionsValue: 'Value',
                                           value: $root.BusinessCountry, optionsCaption: 'Choose...', valueAllowUnset: true,
                                           disable: $root.isDisabled()"
                                id="businessAddress"></select>
                    </div>
                </div>

                <div data-bind="visible: $root.IsBusinessAddressSelected()">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Street/Postbox</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.BusinessStreet1, valueUpdate:'afterkeydown', 
                                              disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.BusinessStreet2, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.BusinessStreet3, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div>
                        &nbsp
                    </div>
                    <div class="form-group" data-bind="visible: $root.IsSABusinessAddress()">
                        <label class="col-sm-4 control-label">Suburb:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputSuburb address-line-resize"
                                   data-bind="value: $root.BusinessSuburb, disable: $root.IsSABusinessAddress() || $root.isDisabled()" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayBusinessSuburbValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayBusinessSuburbValid()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" 
                               data-bind="visible: $root.IsNonSABusinessAddress(), disable: $root.isDisabled()">City / Town:</label>
                        <label class="col-sm-4 control-label" 
                               data-bind="visible: $root.IsSABusinessAddress(), disable: $root.isDisabled()">City:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputCity address-line-resize"
                                   data-bind="value: $root.BusinessCity, disable: $root.IsSABusinessAddress() || $root.isDisabled()" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayBusinessCityValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayBusinessCityValid()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Postal code:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputPostalCode address-line-resize"
                                   data-bind="value: $root.BusinessPostalCode,
                                              disable :$root.IsSABusinessAddress() || $root.isDisabled()" />
                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayBusinessPostalAddressValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayBusinessPostalAddressValid()" />
                        </div>
                    </div>
                    <div>
                        &nbsp;
                    </div>

                   
                </div>
            
            </div>

            <div class="pull-right col-sm-6 copy-address">
                <span>
                    <label>Copy address:&nbsp &nbsp</label>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyResidentialToBusiness, disable: $root.isDisabled()">
                        Residential
                    </button>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyPostalToBusiness, disable: $root.isDisabled()">
                        Postal
                    </button>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyBillingToBusiness, disable: $root.isDisabled()">
                        Billing
                    </button>
                </span>
            </div>

            <div class="pull-right col-sm-6">&nbsp;</div>

            <div class=" pull-right col-sm-6 search-address" data-bind="visible: $root.IsSABusinessAddress()">
                <div class="afrigisSearchBox">
                    <p>
                        Please enter your <b>postal code</b> or the name of your <b>city</b> or <b>suburb</b> below, and press the <b>"Search"</b> button.  This will return a list containing items with a combination of code, suburb and city, from where you can <b>select an item</b> to populate the greyed out fields on the left.

                    </p>
                    <div>
                        <input class="afrigisSearchInput form-control" type="text" data-bind="disable: $root.isDisabled()">
                        <button class="afrigisSearchButton btn btn-sm"
                                data-bind="click:afrigisSearchClick.bind($data,'business'), disable: $root.isDisabled()">
                            Search
                        </button>
                        <span class="afrigisSearchSpinner" style="display: none;"></span>
                    </div>
                    <p>(Examples: "7600" or "Welgemoed" or "Cape Town", etc.)</p>
                    <p class="green-text">To change your selection, re-use the search functionality above</p>
                    <div class="afrigisSearchResultBox" style="display: none;">
                        <div>Next, <b>select</b> your combination below to complete the form:</div>
                        <div>
                            <select name="ctl00$MainContent$selectResidentialAfrigis" id="MainContent_selectResidentialAfrigis"
                                    class="afrigisResultList"
                                    data-bind="event:{ change: $root.afrigisResultChange.bind($data, 'business') },
                                               disable: $root.isDisabled()"></select>
                        </div>
                        <div class="afrigisArrowRight"></div>
                    </div>
                    <div class="afrigisSuccessMessage" style="display: none;">To change your selection, re-use the search functionality above.</div>
                    <div class="afrigisErrorMessage" style="display: none;">We could not find any results matching your query.  Please try one of the other criteria suggested.</div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="clearfix">&nbsp;</div>

<div class="col-md-12 form-wrap">
    <form class="form-horizontal">

        <div class="sectionHeader">
            <label>Billing address</label>
        </div>
        <div class="row form-section" id="billing">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Address To:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control"
                               data-bind="value: $root.BillingTo, disable: $root.isDisabled()" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Country:</label>
                    <div class="col-sm-6">
                        <select class="form-control"
                                data-bind="options: $root.Countries, optionsText: 'Key', optionsValue: 'Value',
                                           value: $root.BillingCountry, optionsCaption: 'Choose...', valueAllowUnset: true,
                                           disable: $root.isDisabled()"
                                id="billingAddress"></select>
                    </div>
                </div>

                <div data-bind="visible: $root.IsBillingAddressSelected()">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Street/Postbox</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" 
                                   data-bind="value: $root.BillingStreet1, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.BillingStreet2, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control"
                                   data-bind="value: $root.BillingStreet3, disable: $root.isDisabled()" />
                        </div>
                    </div>
                    <div>
                        &nbsp
                    </div>
                    <div class="form-group" data-bind="visible: $root.IsSABillingAddress()">
                        <label class="col-sm-4 control-label">Suburb:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputSuburb address-line-resize"
                                   data-bind="value: $root.BillingSuburb, disable: $root.IsSABillingAddress || $root.isDisabled()" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayBillingPostalAddressValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayBillingPostalAddressValid()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" 
                               data-bind="visible: $root.IsNonSABillingAddress(), disable: $root.isDisabled()">City / Town:</label>
                        <label class="col-sm-4 control-label" 
                               data-bind="visible: $root.IsSABillingAddress(), disable: $root.isDisabled()">City:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputCity address-line-resize"
                                   data-bind="value: $root.BillingCity, disable :$root.IsSABillingAddress() || $root.isDisabled()" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayBillingCityValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayBillingCityValid()" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Postal code:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control afrigisInputPostalCode address-line-resize"
                                   data-bind="value: $root.BillingPostalCode, disable :$root.IsSABillingAddress() || $root.isDisabled()" />

                            <img data-bind="attr: {src: '../Images/warning.png'}, visible: $root.DisplayBillingPostalAddressValid()" />
                            <img data-bind="attr: {src: '../Images/ok.png'}, visible: !$root.DisplayBillingPostalAddressValid()" />
                        </div>
                    </div>
                    <div>
                        &nbsp;
                    </div>

                    
                </div>
            
            </div>

            <div class="pull-right col-sm-6 copy-address">
                <span>
                    <label>Copy address:&nbsp &nbsp</label>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyResidentialToBilling, disable: $root.isDisabled()">
                        Residential
                    </button>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyPostalToBilling, disable: $root.isDisabled()">
                        Postal
                    </button>
                    <button class="btn" type="button"
                            data-bind="click: $root.CopyBusinessToBilling, disable: $root.isDisabled()">
                        Business
                    </button>
                </span>
            </div>
            
            <div class="pull-right col-sm-6">&nbsp;</div>

            <div class="pull-right col-sm-6 search-address" data-bind="visible: $root.IsSABillingAddress()">
                <div class="afrigisSearchBox">
                    <p>
                        Please enter your <b>postal code</b> or the name of your <b>city</b> or <b>suburb</b> below, and press the <b>"Search"</b> button.  This will return a list containing items with a combination of code, suburb and city, from where you can <b>select an item</b> to populate the greyed out fields on the left.

                    </p>
                    <div>
                        <input class="afrigisSearchInput form-control" type="text" data-bind="disable: $root.isDisabled()">
                        <button class="afrigisSearchButton btn btn-sm" 
                                data-bind="click:afrigisSearchClick.bind($data,'billing'), disable: $root.isDisabled()">Search</button>
                        <span class="afrigisSearchSpinner" style="display: none;"></span>
                    </div>
                    <p>(Examples: "7600" or "Welgemoed" or "Cape Town", etc.)</p>
                    <p class="green-text">To change your selection, re-use the search functionality above</p>
                    <div class="afrigisSearchResultBox" style="display: none;">
                        <div>Next, <b>select</b> your combination below to complete the form:</div>
                        <div>
                            <select name="ctl00$MainContent$selectResidentialAfrigis" id="MainContent_selectResidentialAfrigis"
                                    class="afrigisResultList"
                                    data-bind="event:{ change: $root.afrigisResultChange.bind($data, 'billing') }, 
                                               disable: $root.isDisabled()"></select>
                        </div>
                        <div class="afrigisArrowRight"></div>
                    </div>
                    <div class="afrigisSuccessMessage" style="display: none;">To change your selection, re-use the search functionality above.</div>
                    <div class="afrigisErrorMessage" style="display: none;">We could not find any results matching your query.  Please try one of the other criteria suggested.</div>
                </div>
            </div>
        
        </div>
    </form>
    <button id="addressDetailsSaveAndProceed" class="btn btnSaveProceed btn-sm pull-right"
            data-bind="click: $root.StepTwoSaveAndProceed, visible: !$root.isDisabled()">
        Save and Proceed
    </button>
</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

